<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Screenshoter</title>
    
    <link rel="stylesheet" type="text/css" href="/static/ext-js/resources/css/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    
    <script type="text/javascript">
        var config = { 
            mongo_host: '{{ mongo_conf["host"] }}',
            mongo_port: '{{ mongo_conf["port"] }}',  
            mondo_db:   '{{ mongo_conf["database"] }}'
        }
        var WS_HOST = '{{ ws_host }}';
    </script>
    
    <script type="text/javascript" src="/static/ext-js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/app/application.js"></script>
</head>
<body>
</body>
</html>
